<%- include header.ejs %>
    <!-- Page Content
    ================================================== --> 
    <div class="row"><!--Container row-->

        <!-- Page Left Sidebar
        ================================================== --> 
        <div class="span3 sidebar page-left-sidebar"><!-- Begin sidebar column -->

            <!--Latest News-->
            <h5 class="title-bg">Latest News</h5>
            <% for(var i = posts.length - 1; i >= 0; i--) { %>
                <ul class="popular-posts">
                    <% if(posts[i].status) { %>
                        <a href="/single?id=<%= posts[i]._id %>">
                            <li>
                                <img src="../post_images/<%= posts[i].image %>" alt="Popular Post">
                                <h6><a href="/single?id=<%= posts[i]._id %>"><%= posts[i].about %></a></h6>
                                <em>Posted on <%= posts[i].axilary_date %></em>
                            </li>
                        </a>
                    <% } %>
                </ul>
            <% } %>
            

        </div><!-- End sidebar column -->

        <!-- Page Content
        ================================================== --> 
        <div class="span6"><!--Begin page content column-->
            <% for(var i = 0; i < posts.length; i++) { %>
                <a class="color_black" href="/single?id=<%= posts[i]._id %>">
                    <h2 class="title-bg"><%= posts[i].title %></h2>
                <a href="/single?id=<%= posts[i]._id %>"> <img src="../post_images/<%= posts[i].image %>"> </a>
                <%if(posts[i].content) {%>
                <p class="lead"><%= posts[i].content %></p>
                <% } %>
                <%if(posts[i].status == -1) {%>
                        <a class="btn btn-mini btn-inverse" href='/posts/my/add?post_id=<%=posts[i]._id%>'>Добавить к себе</a>
                <%}%>
                    <p class="lead"><%= posts[i].about %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin</p>
                </a>
            <% } %>

            <div class="row">
                <div class="span3">
                    <h5>2 Column Layout</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                </div>
                <div class="span3">
                    <h5>2 Column Layout</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                </div>
            </div>

        </div> <!--End page content column--> 

         <!-- Page Right Sidebar
        ================================================== --> 
        <div class="span3 sidebar page-right-sidebar"><!-- Begin sidebar column -->

            <!--User Login-->
            <% if(user) { %>
                <h5 class="title-bg"><a class="color_black" href="/profile?id=<%= user._id %>"><%= user.login %></a></h5>
            <% } else { %>
                <h5 class="title-bg">User Login</h5>
                <form action="/login" method="post">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span><input name="login" class="span2" id="prependedInput" size="16" type="text" placeholder="Username">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span><input name="password" class="span2" id="appendedPrependedInput" size="16" type="text" placeholder="Password">
                    </div>
                    <br>
                    <input class="btn btn-small btn-inverse" type="submit" name="submit" value="кируу">
                </form>
                    <a href="/register"><input class="btn btn-small btn-inverse" type="submit" name="submit" value="регистр кируу">
            <% } %>
            <!--Tabbed Content-->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#comments" data-toggle="tab">На перевод</a></li>
                <li><a href="#about" data-toggle="tab">О переводах</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="comments">
                     <ul>
                        <% for(var i = posts.length - 1; i >= 0; i--) { %>
                            <% if(posts[i].status == -1) { %>
                                <li><i class="icon-comment"></i> <a href="/single?id=<%= posts[i]._id %>"><%= posts[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
                <div class="tab-pane" id="about">
                    <p>Enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>

                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
            </div>
        </div><!-- End sidebar column -->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->
<%- include footer.ejs %>

     
