<%- include header.ejs %>

     
    <!-- Blog Content
    ================================================== --> 
    <div class="row"><!--Container row-->

        <!-- Blog Full Post
        ================================================== --> 
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            <article>
                <h3 class="title-bg"> <%= post.title %></h3>
                <div class="post-content">
                    <img src="../post_images/<%= post.image %>">


                    <div class="post-body">
                        <p><%= post.content %></p>
                        <%if(post.status == 0) {%>
                            <p></p>
                            <p></p>
                            Примерный перевод:<br>
                            <p><%=post.translatedContent %></p>
                        <% } %>
                    </div>
                    <div class="post-summary-footer">
                    <% if(authorized) {%>
                        <% if(sympathy && sympathy.state == 1) {%>
                          <i post_id="<%=post._id%>" class='icon-plus' style="background-color:green;opacity:0.5;"></i>
                        <% } else { %>
                          <i post_id="<%=post._id%>" class='icon-plus'></i>
                        <% } %>
                        <b id="sympathyCount"><%= sympathyCount %></b>
                        <% if(sympathy && sympathy.state == -1) {%>
                          <i post_id="<%=post._id%>" class='icon-minus' style="background-color:red;opacity:0.5;"></i>
                        <%} else {%>
                        <i  post_id="<%=post._id%>" class='icon-minus'></i>
                        <% } %>
                    <% } %>
                        <ul class="post-data">
                            <li><i class="icon-user"></i> <a href="/profile?id=<%= postUser._id%>"><%= postUser.login%></a></li>
                            <li><i class="icon-tags"></i>
                            <% for(var i = 0; i < post.tags.length; i++) {%>
                            <a href="#"><%= post.tags[i].name %></a>
                            <% } %>
                            </li>
                            <li>
                                 <%if(post.status == -1) {%>
                            <a class="btn btn-mini btn-inverse" href='/posts/my/add?post_id=<%=post._id%>'>Добавить к себе</a>
                    <%}%>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            
            <%if(post.status == 0) {%>
             <article>
                <form action="/posts/<%=post._id%>/update" id="form" method="post" enctype="multipart/form-data">
                
                    <input type="text" name="title" >
                    <input type="text" name="about" >
                        Картинка <input type="file" name="img" accept="image/*">
                    <input type="text" name="tags" placeholder="теги для поста"><br>
                    <textarea class="myTextarea" name="text" form="form" placeholder="текст поста"> </textarea>
                    
                    <input type="submit" name="submit"> <br>

                </form>
                   
            </article>
           <% } %>

        <!-- Post Comments
        ================================================== --> 
            <section class="comments">
                <h4 class="title-bg"><a name="comments"></a><% comments.length %></h4>
               <ul>
                    <% for(var i = 0; i < comments.length; i++) { %>
                        <li>
                            <img src="img/user-avatar.jpg" alt="Image" />
                            <span class="comment-name"><%= comments[i].user_id.login %></span>
                            <span class="comment-date"><%= comments[i].axilary_date %></span>
                            <div class="comment-content"> <%= comments[i].text %></div>
                        </li>
                    <% } %>
               </ul>
               <% if(authorized) {%>
                <!-- Comment Form -->
                <div class="comment-form-container">
                    <h6>Комментарий калтыруу</h6>
                    <form method="post" action="posts/add/comment" id="comment-form">
                        <input type="hidden" name="_id" value="<%= post._id %>">
                        <input type="hidden" name="from" value="<%= authorized._id %>">
                        <% if(!authorized) { %>
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-user"></i></span>
                                <input name="name" class="span4" id="prependedInput" size="16" type="text" placeholder="Имя пользователя">
                            </div>
                        <% } %>
                        <textarea form="comment-form" type="text" class="span6" name="comment">
                            
                        </textarea>
                        <div class="row">
                            <div class="span2">
                                <input type="submit" class="btn btn-inverse" value="жөнөтүү">
                            </div>
                        </div>
                    </form>
                </div>
              <% } %>
        </section><!-- Close comments section-->

        </div><!--Close container row-->

        <!-- Blog Sidebar
        ================================================== --> 
        <div class="span3 sidebar page-right-sidebar">
          <!--User Login-->
            <% if(authorized) { %>
                <h5 class="title-bg"><a class="color_black" href="/profile?id=<%= authorized._id %>"><%= authorized.login %></a></h5>
            <% } else { %>
                <h5 class="title-bg">User Login</h5>
                <form action="/login" method="post">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span><input name="login" class="span2" id="prependedInput" size="16" type="text" placeholder="Username">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span><input name="password" class="span2" id="appendedPrependedInput" size="16" type="text" placeholder="Password">
                    </div>
                    <br>
                    <input class="btn btn-small btn-inverse" type="submit" name="submit" value="кируу">
                </form>
                    <a href="/register"><input class="btn btn-small btn-inverse" type="submit" name="submit" value="регистр кируу">
            <% } %>
            
           
        </div>

    </div>
    
 