
<%- include header.ejs %>

     
    <!-- Page Content
    ================================================== --> 
    <div class="row"><!--Container row-->

    <!-- Title Header -->
        <div class="span8"><!--Begin page content column-->

            <h2>Жеке кабинет</h2>
            <p class="lead">Логин: "<%= user.login %>"</p>
            <p class="lead">Пароль: "<%= user.password %>"</p>

            
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            <article>
                <h4 class="title-bg">Менин котормолорум</h4>
                <ul>
                 <% for(var i = 0; i < posts.length; i++) { %>
                    <li><a href="/single?id=<%= posts[i]._id %>"><h2 class="title-bg"><%= posts[i].about %></h2></a>
                    <%if(posts[i].content) {%>
                        <p class="lead"><%= posts[i].content %></p>
                    <% } %></li>
                <% } %>
                </ul>
        </div>

        </div> <!--End page content column-->

        <!-- Blog Sidebar
        ================================================== --> 
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->

            <!--Tabbed Content-->
            <a href="/exit"><h5 class="title-bg color_black">Чыгуу</h5></a>

            
            <ul class="nav nav-tabs">
                <li class="active"><a href="#comments" data-toggle="tab">На перевод</a></li>
                <li><a href="#about" data-toggle="tab">О переводах</a></li>
            </ul>

             <div class="tab-content">
                <div class="tab-pane active" id="comments">
                     <ul>
                        <% for(var i = allPosts.length - 1; i >= 0; i--) { %>
                            <% if(allPosts[i].status == -1) { %>
                                <li><i class="icon-comment"></i> <a href="/single?id=<%= allPosts[i]._id %>"><%= allPosts[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
                <div class="tab-pane" id="about">
                    <p>Enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>

                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
            </div>


        </div><!-- End sidebar column -->

    </div><!-- End container row -->

    